/*==========================================================================
  SIDEBAR
========================================================================== */	
#aside-home{
	@include make-md-column(4);
}

.up-event{
	ul{
		li{
			display:block;
			overflow:hidden;
			border-bottom:1px solid #d5d7c4;
			padding-bottom:$pixel;
			margin-bottom:$pixel + 15;	

			&:last-child{
				border:none;
			}
		}
	}

	a{
		color:$font-color;
		&:hover, &:focus{
			text-decoration:none;
			color:$green_base;
		}
	}
	.up-event-date{
		display:block;
		float:left;
		padding: 3px 8px 1px;
		border: 1px solid #acacac;
		background:white;
		margin-right:15px; 
		font-size:15px;
		font-weight:700;
		text-transform:uppercase;
		color:darken($font-color, 10%);
		@include border-radius(5px);
	}

	.up-event-desc{
		font-style:italic;
		overflow:hidden;
		strong{
			font-family: 'Perpetua-bold', sans-serif;
			font-style:italic;
			display:block;
			line-height: 1.2em;
			margin-bottom: $pixel_3;
			font-size: 20px;
			font-weight:normal;

		}
	}
}



