@import url(http://fonts.googleapis.com/css?family=Forum);
//font-family: 'Forum', cursive;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);
//font-family: 'Open Sans', sans-serif;

$fontsPath:   "../fonts" !default;

@font-face {
    font-family: 'Perpetua';
    src: url('#{$fontsPath}/Perpetua.eot');
    src: url('#{$fontsPath}/Perpetua.eot?#iefix') format('embedded-opentype'),
         url('#{$fontsPath}/Perpetua.woff') format('woff'),
         url('#{$fontsPath}/Perpetua.ttf') format('truetype'),
         url('#{$fontsPath}/Perpetua.eot#Perpetua') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Perpetua-bold';
    src: url('#{$fontsPath}/Perpetua-Bold.eot');
    src: url('#{$fontsPath}/Perpetua-Bold.eot?#iefix') format('embedded-opentype'),
         url('#{$fontsPath}/Perpetua-Bold.woff') format('woff'),
         url('#{$fontsPath}/Perpetua-Bold.ttf') format('truetype'),
         url('#{$fontsPath}/Perpetua-Bold.eot#Perpetua-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}
