/*==========================================================================
  FOOTER
========================================================================== */

#footer{
	background:#3e3530;
	border-top:3px solid #8e9f09;
	padding-top:$pixel * 5;
	color:$foot_color_base;
	overflow:hidden;
	padding-bottom:110px;
	.container{
		position:relative;
	}
}
.title-foot-ylw{
	margin:0;
	color:#ddd076;
	font : 400 30px 'Forum', cursive;
	margin-bottom:$pixel + 8;

	@media (max-width : $screen-xs-max){
		font-size:24px;
	}
}
#footer-row{
	@include make-row();
	margin-bottom:$pixel * 5;
}


/* ======== ADDRESS ======== */
.foot-address{
	@include make-sm-column(4);
	@media (max-width : $screen-xs-max){
		margin-bottom:25px;
		padding-bottom:20px;
		border-bottom:1px solid #25201d;
	}

	.title-foot-addes{
		margin:0;
		font : italic 400 22px 'warnock-pro', Georgia, sans-serif;
		color:darken(white, 2%);
		margin-bottom:7px + $pixel_6;
	}
}

/* ======== FOOT-LINKS ======== */
.foot-links{
	@include make-sm-column(4);
	
	@media (max-width : $screen-xs-max){
		margin-bottom:25px;
		padding-bottom:20px;
		border-bottom:1px solid #25201d;
	}

	ul{
		width: 50%;
		padding: 0 15px;
		float:left;
		
		@media (max-width : $screen-sm-max){
			width:100%;
			float:none;
		}

		li{
			display:block;
			margin-bottom:5px;
			a{
				color:$foot_color_base;
				@include prefixed(transition, .2s linear);

				&:hover{
					color:#ddd076;
					text-decoration:none;
				}

			}
		}
	}
}


/* ======== FOOT CONNECT ======== */

.foot-connect{
	@include make-sm-column(4);

	.foot-connect-right{
		float:right;
	}

	@media (max-width : $screen-xs-max){
		margin-bottom:25px;
		padding-bottom:20px;
		border-bottom:1px solid #25201d;

		.foot-connect-right{float:none;}
	}
	ul{
		li{
			display:block;
			font-style:italic;
			font-size:1em;
			margin-bottom:5px;
			line-height: 2em;

			&.fb{
				background-image:image-url('fb_foot.png');
				background-position:left top;
				background-repeat:no-repeat;
				@include image-2x(image-url('fb_foot@2x.png'), 18px, 33px); 
				padding-left:40px
			}

			&.tw{
				background-image:image-url('tw_foot.png');
				background-position:left center;
				background-repeat:no-repeat;
				@include image-2x(image-url('tw_foot@2x.png'), 28px, 23px); 
				padding-left:40px
			}

			a{
				color:$foot_color_base;
			}
		}
	}
}

/* ======== COPYRIGHT ======== */
.copyright{
	text-align:center;
	font: 400 14px 'Open Sans', sans-serif;
	margin-bottom:20px;
	p{
		margin-bottom:0;
	}

	.copy-link{
		a, span{
			@include inline-block();
			color:$foot_color_base;
		}
		span{
			margin:0 5px;
		}

		a:hover{
			color:$gold;
			text-decoration:none;
		}
	}
}

/* ======== FOOTER MAP ======== */

#footer-map{
	position:absolute;
	text-align:center;
	border-top:3px solid white;
	border-left:3px solid white;
	border-right:3px solid white;
	overflow:hidden;
	bottom:-480px;
	width:100%;

	.showmap{
		position:absolute;
		top:0;
		left:0;
		right:0;
		margin:auto;
		z-index:999;
		width:100%;
		text-align:center;
		a{
			@include inline-block();
			background:white;
			text-transform:uppercase;
			color:$font-color;	
			font-size:22px;
			padding:5px 20px;
			font-style:italic;
			@include prefixed(transition, all .2s linear);
			&:hover, &:focus{
				text-decoration:none;
				background:$gold;
				color:white;
			}
		}

	}
}