body{
	background:white;
	font:20px/1.3  'Perpetua', warnock-pro,  Georgia, sans-serif;
	color:$font-color;
	font-weight:400;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;

}
#{headings()}{
	font-weight:normal;
	line-height:1.3em;		
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* ======== LAYOUT ======== */
#main{
	position:relative;
}

.bg-white{
	background:$white;
	@include clearfix();
	padding:65px 0;
	border-top:1px solid #dbddc7;
}

/* ======== 8.2 BACKGROUND FIXED ======== */
#bgpatern {
	position:fixed; 
	top:-50%; 
	left:-50%; 
	width:200%; 
	height:200%;
	z-index:-1;
	background:#f8f7f3;

	img {
		position:absolute; 
		top:0; 
		left:0; 
		right:0; 
		bottom:0; 
		margin:auto; 
		min-width:50%;
		min-height:50%;
	}
}

	/*#bgpatern{
		position:absolute; 
		top:0; 
		left:0; 
		width:100%; 
		min-height: 761px;
		z-index: -1;

		 img {
			position:absolute; 
			top:0; 
			left:0; 
			right:0; 
			bottom:0; 
			margin:auto; 
			width: 100%;
			height: 761px;
		}
	}*/

