/*==========================================================================
  HEADER
========================================================================== */
#header{
	@include clearfix();
	padding:27px 0;
	background:white;
	position:relative;
	z-index:3;
}

#logo{
	@include make-md-column(5);
	@media(max-width : $screen-sm-max){
		text-align:center;
		margin-bottom:10px;
	}
}

.header-link{
	float:right;
	text-align:right;
	padding:25px 0;
	margin-right:$pixel;

	@media(max-width : $screen-sm-max){
		float:none;
		text-align:center;
	}
	ul{
		li{
			@include inline-block();
			margin:0 9px;

			a{
				color:$font-color;
				@include prefixed(transition, all .3s linear);

				&:hover{
					color:$green_base;
					text-decoration:none;
				}
			}
		}
	}
}