/*==========================================================================
  HOMEPAGE
========================================================================== */
#intro{
	background:transparent;
	position:relative;
	z-index:1;
	overflow:hidden;
	@include min-height(450px);
	padding-top:$pixel * 5;
	color:white;
	//margin-bottom:$pixel * 6;
	
	@media (max-width : $screen-sm-max)
	{
		background: #55493a;
		border-bottom: 6px solid #67730b;
		padding-bottom:40px;
	}

	@media (max-width : $screen-xs-max){
		@include min-height(0);
	}
	
	h1{
		font: 400 34px/1.2 'Forum', cursive;
		margin:0 auto 40px ;
		color:white;
		width: 80%;
		text-align:center;
		@media (max-witdth : $screen-md-max){
			font-size:30px;
			width:90%;
		}

		@media (max-width : $screen-xs-max){
			font-size:27px;
			width:100%;
		}

	}

	&:before{
		content:'';
		@include size(100%, 450px);
		position:absolute;
		left:0;
		top:0;
		z-index:-1;
		background:$brown_base;
		border-bottom:6px solid $green_base;

		@media (max-width : $screen-md-max){
			height:320px;
		}

		@media (max-width : $screen-sm-max){
			display:none;
		}
	}
}

#slider{
	.bx-wrapper .bx-viewport{
		border:none;
		left:0;
		@include box-shadow(none);
	}

	.slide-desc{
		display:table;
		@include min-height(350px);
		text-align:center;
		position:absolute;
		top:0;
		@include size(100%, 100%);
		vertical-align:middle;
		padding:0 30px;

		@media (max-width : $screen-sm-max){
			@include min-height(200px);
		}

		@media (max-width : 570px){
			@include min-height(160px);
		}

		.centered{
			display:table-cell;
			height:100%;
			vertical-align:middle;
		}
		h3{
			margin:0;
			font-size:58px;
			font-weight:700;
			line-height:0.9em;
			color:white;
			margin-bottom:$pixel * 2;
			@include text-shadow(3px 3px 9px rgba(0,0,0,.32));
			width:80%;
			margin-right:auto;
			margin-left:auto;

			@media (max-width : $screen-md-max){
				font-size:43px;
			}
			@media (max-width : $screen-sm-max){
				font-size:35px;
			}

			@media (max-width : $screen-xs-max){
				display:none;
			}

		}

		a{
			@include inline-block();
			border:1px solid white;
			background:rgba(0,0,0, 0.6);
			color:white;
			text-align:center;
			padding:8px  25px;
			@include min-width(230px);
			font-size:24px;
			@include prefixed(transition, .2s linear);

			span{
				font: 400 19px 'Open Sans', sans-serif;
				text-transform:uppercase;
			}

			&:hover{
				text-decoration:none;
				background:black;
				border:1px solid $gold;
			}

			@media (max-width : $screen-xs-max){
				font-size:19px;

				span{
					font-size:17px;
				}
			}

			@media (max-width : 570px){
				@include min-width(0);
			}

			@media (max-width : 320px){
				display:none;
			}


		}
	}	
}


.content-home{
	padding-top:50px;
	padding-bottom:50px;
	overflow:hidden;
}
#leftside{	
	@include make-md-column(8);
	position:relative;

	@media (max-width : $screen-sm-max){
		.title-red{
			text-align:center;
		}
	}
}

.v-gradline{
	position:absolute;
	right:-15px;
	top:-50px;
	z-index:0;
	@include size(30px, 150%);
	background:transparent image-url('shadow_v.png') 0 0 repeat-y;

	@media (max-width : $screen-sm-max){
		display:none;
	}
}

.welcome-block{
	@include make-md-column(6);

	@media (max-width : $screen-md-max){
		width:100%;
		float:none;
		margin-bottom:30px;
	}

	figure{
		position:relative;
		max-width:350px;
		overflow:hidden;
		margin-bottom:28px;

		@media (max-width : $screen-md-max){
			margin-right:auto;
			margin-left:auto;
		}

		figcaption{
			position:absolute;
			left:0;
			bottom:0;
			@include size(100%, auto);
			padding:13px 18px;
			color:white;
			background:rgba(0,0,0, 0.5);
			
			strong{
				font-size:23px;
				display:block;
				font-weight:400;
			}
			em{font-size:20px;display:block}
		}
	}
}


.fbfans{
	@include make-md-column(6);
	text-align:center;
	width:100%;
	float:none;

	.fbfans-inner{
		margin-left:-35px;
	}
	@media (max-width : $screen-md-max){
		margin-bottom:40px;
		.fbfans-inner{
			@include inline-block();
			margin:0;
		}
	}

	@media (max-width : 330px){
		display:none;
	}
}

.schedule{
	@include make-md-column(8);

	@media (max-width : $screen-xs-max){
		margin-bottom:25px;
	}


	.schedule-box{
		border:1px solid #dfdfdf;
		@include border-radius(8px);
		width:96%;
	}

	.schedule-title{
		font: 400 21px 'Forum', cursive;
		background:#eff1de;
		padding:15px 20px;
		border-bottom:1px solid #dfdfdf;
		margin:0;
	}

	.schedule-article{
		padding:25px 10px;
		overflow:hidden;
	}
}

.schedule-item{
	width: 49%;
	padding: 0 20px;
	margin-bottom:13px;
	@include inline-block();
	vertical-align:top;

	h5{
		margin:0;
		color:darken($font-color, 10%);
		margin-bottom:5px;
		font-family: 'Perpetua-bold', sans-serif;
		font-style:italic;
		font-size: 1em;
		line-height: 1.5em;
	}

	@media (max-width : $screen-xs-max){
		width:100%;
		display: block;
		margin-bottom: 20px;
		border-bottom: 1px dotted #cecece;
	}
}



.import-link{
	@include make-md-column(4);

	ul{
		margin-left:20px;

		li{
			//list-style:disc;
			list-style-type:circle;

			padding-left:7px;
			margin-bottom:8px;

			a{
				color:$font-color;
				@include prefixed(transition, all .3s linear);

				&:hover{
					color:#8e9f09;
					text-decoration:none;
				}
			}
		}
	}
}