/*==========================================================================
  NAVIGATION
========================================================================== */

#navwrap{
	background:white;
}

#navigation
{
	width:100%;
	float:none;
	text-align:center;
	position:relative;
	z-index:10;
	background-color:$green_base;
	@include background-image(linear-gradient(bottom, rgba(0,0,0,.14), rgba(0,0,0,0)));

	@media(min-width : $screen-lg){
		
	}
	@media(max-width : $screen-sm-max){
		
	}
	
	ul{
		list-style:none;
		position:relative;
		margin:0;
		padding:0;

		a{
			@include inline-block();
			text-decoration:none;
			line-height:1.4em;
			color:$white;
			@include prefixed(transition, all 0.3s ease-out);
			font: 400 22px 'Forum', cursive;
			padding: 17px 16px;

			@media (max-width : $screen-md-max){
				padding: 17px 10px;
				font-size:18px
			}

			&:hover{
				color:#ddd076;

			}
		}

		li{
			position:relative;
			@include inline-block();
			margin:0;
			&:hover{
				> ul{
					display:block;
				}
			}

			&.current{
				a{
					color:#ddd076;
				}
			}
		}

	   //DROPDOWN
		ul{
			display:none;
			position:absolute;
			top:100%;
			left:0;
			background:$green_base;
			padding:0;

			li{
				float:none;
				width:200px;
				padding:0;

				 /*arrow*/
				&:first-child > a:after {
					content: "";
					border-bottom: 15px solid $green_base;
				    border-left: 15px solid transparent;
				    border-right: 15px solid transparent;
				    left: 50%;
				    position: absolute;
				    top: -15px;
				    margin-left:-13px;
				}
			}

			a{
				padding: $pixel + 5 $pixel * 2;
				display:block;
				border-bottom:none !important;
				text-align:left ;
				font-weight:normal;
				font-weight:400;
				font-size:0.9em;

				&:hover{
					border-bottom:none  !important;
					background:darken($green_base, 10%);
					color:white;
				}
			}

			 ul{
				top:0;
				left:100%;

				a:after{
					display:none;
				}
			}
		}

	}

	#pull{
		display:none;
	}
}

.slicknav_menu {
	display:none;
}

@media screen and (max-width : $screen-sm-max) {
	/* #menu is the original menu */
	 #menu {
		display:none;
	}
	
	.slicknav_menu {
		display:block;
	}
}

@import "../vendor/slicknav";