/*==========================================================================
  TYPOGRAPHY
========================================================================== */
.title-red{
	color:$red_base;
	margin:0;
	font : 30px/1.3 'Forum', cursive, Georgia;
	margin-bottom:30px;
}

.link-blue{
	color:$link_blue;
	@include inline-block();
	@include prefixed(transition, all .3s linear);

	&:hover{
		color:$green_base;
	}
}