  <div id="main" role="main" >
  
	<div id="intro">
		<div class="container">
			<h1>An  inclusive community of faith, committed to excellence in worship, music and the arts, education and outreach.</h1>	
			
			<div id="slider">
				<ul class="bxslider">
				  <li>
					  	<div class="slide-desc">
					  		<div class="centered">
						  		<h3>Praising God with Music  </h3>
						  		<a href="#"><span>Explore</span>&nbsp;the church</a>
					  		</div>
					  	</div>
					  	<img src="assets/img/slider.jpg" alt="" />
				  </li>
				  <li>
				  		<div class="slide-desc">
					  		<div class="centered">
						  		<h3>Praising God with Music</h3>
						  		<a href="#"><span>Explore</span>&nbsp;the church</a>
					  		</div>
					  	</div>
					  	<img src="assets/img/slider.jpg" alt="" />
				  </li>
				  <li>
				  		<div class="slide-desc">
					  		<div class="centered">
						  		<h3>Praising God with Music </h3>
						  		<a href="#"><span>Explore</span>&nbsp;the church</a>
					  		</div>
					  	</div>
					  	<img src="assets/img/slider.jpg" alt="" />
				  </li>
				</ul>	
			</div>
		</div>
	</div><!-- //intro -->

	<div class="container">
		<div class="content-home row">
			<div id="leftside" class="heightLt">
				<h2 class="title-red">A Warm Welcome</h2>	
				<div class="row">
					<div class="welcome-block">
						<figure >
							<img src="assets/img/thumbs/thumb1.jpg" alt="">
							<figcaption>
								<strong>Cynthia A. Jarvis</strong>
								<em>a Presbyterian Minister</em>
							</figcaption>
						</figure>

						<p>Join The Presbyterian Church of Chestnut Hill, an inclusive community on the Hill, for 
						mission, music, and fellowship. If you are reading this as someone willing to come as close 
						to organized religion as reading the first page of a church’s website... <a href="#" class="link-blue">Read more</a></p>
					</div><!-- //welcome-block -->

					<div class="fbfans">
						<div class="fbfans-inner">
							<div class="fb-post" data-href="https://www.facebook.com/PCChestnutHill/photos/a.160356717349039.54142.145907525460625/881475771903793/?type=1" data-width="300"></div>
						</div>
					</div> <!-- // fbfans -->
				</div>

				<div class="v-gradline" id="vShadow"></div>
			</div> <!-- //leftside -->

			<aside id="aside-home" class="heightRt">
				<h2 class="title-red">Upcoming Event</h2>	
				<article class="up-event">
					<ul>
						<li>
							<a href="#">
								<span class="up-event-date">Sept 10</span>
								<p class="up-event-desc">
									<strong>Theology on Tap</strong>
									Tuesday, September 10, 7:30 p.m. Campbell’s Place
								</p>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="up-event-date">Sept 20</span>
								<p class="up-event-desc">
									<strong>Bibendum Venenatis Dapibus Euismod</strong>
									Tuesday, September 20, 7:30 p.m. Campbell’s Place
								</p>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="up-event-date">Sept 30</span>
								<p class="up-event-desc">
									<strong>Theology on Tap</strong>
									Tuesday, September 10, 7:30 p.m. Campbell’s Place
								</p>
							</a>
						</li>
					</ul>	
				</article> <!-- //come-event -->
			</aside> <!-- // aside-home -->
		</div>
	</div>

	<div class="bg-white">
		<div class="container">
			<div class="row">

				<section class="schedule">
					<div class="schedule-box">
						<h3 class="schedule-title">This Sunday Schedule</h3>
						<ul class="schedule-article">
							<li class="schedule-item">
								<h5>10:00 a.m. Worship</h5>
								<p>“Welcome Home” <br>Cynthia Jarvis, preaching</p>
							</li>

							<li class="schedule-item">
								<h5>Readings</h5>
								<p>Genesis 50:15-21<br>Matthew 18-21-35</p>
							</li>

							<li class="schedule-item">
								<h5>11:15 a.m. Second Hour @ PCCH</h5>
								<p>A Behind the Scenes Look at Worship II: Music Dan and Ken will give us a musicians’ perspective on the importance of music in our worship of God</p>
							</li>

							<li class="schedule-item">
								<h5>Music</h5>
								<p>“I was glad when they said unto me” (Parry)</p>
							</li>
							<li class="schedule-item">
								<h5>Music</h5>
								<p>“I was glad when they said unto me” (Parry)</p>
							</li>
						</ul> <!-- //schedule-article -->
					</div>
				</section><!-- //schedule -->

				<aside class="import-link">
					<h2 class="title-red">Important Links</h2>
					<ul>
						<li><a href="#">Sermons</a></li>
						<li><a href="#">At the Center of Things: Center on the Hill Newsletter</a></li>
						<li><a href="#">Nulla vitae elit libero, a pharetra augue.</a></li>
						<li><a href="#">Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</a></li>
						<li><a href="#">Sermons</a></li>
						<li><a href="#">At the Center of Things: Center on the Hill Newsletter</a></li>
						<li><a href="#">Nulla vitae elit libero, a pharetra augue.</a></li>
						<li><a href="#">Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</a></li>
						<li><a href="#">Sermons</a></li>
					</ul>
				</aside> <!-- //import-link -->
			</div>
		</div> 
	</div> <!-- //bg-white -->

	<div id="bgpatern"><img src="assets/img/patern.jpg"></div>
  </div><!-- //main -->