
  <footer id="footer">
  	<div class="container">
  		<div id="footer-row">
  			
  			<div class="foot-address">
  				<h4 class="title-foot-ylw">We’re in the neighbor</h4>
  				<h5 class="title-foot-addes">Church of Chestnut Hill</h5>
  				8855 Germantown Avenue <br>Philadelphia Pennsylvania 19118<br>t. 215.247.8855 f. 215.242.3869<br>info@chestnuthillpres.org<br>
        </div> <!-- //foot-item -->

  			<div class="foot-links">
    				<ul>
    					<li><a href="#">Worship</a></li>
    					<li><a href="#">Music & Arts</a></li>
    					<li><a href="#">Education</a></li>
    					<li><a href="#">Community & Outreach</a></li>
    				</ul>

    				<ul>
    					<li><a href="#">Center on the Hill</a></li>
    					<li><a href="#">About</a></li>
    					<li><a href="#">Serve & Give</a></li>
    				</ul>
  			</div><!-- //foot-item -->

  			<div class="foot-connect">
            <div class="foot-connect-right">
      				<h4 class="title-foot-ylw">Connect with us</h4>
      				<ul>
                <li class="fb"><a href="#">Like us on Facebook</a></li>
      					<li class="tw"><a href="#">Follow us on Twitter</a></li>
      				</ul>	
            </div>
  			</div><!-- //foot-connect -->
  		</div><!-- //footer-row -->
      <div class="clearfix"></div>

      <div class="copyright">
          <p>&copy; 2014 The Presbyterian Church of Chestnut Hill </p>
          <p class="copy-link"><a href="#">Terms</a><span> | </span> <a href="#">Privacy & Cookies</a> <span>|</span><a href="#"> Site by Dinkum</a></p>
      </div> <!-- //copyright -->

      <div id="footer-map">
          <p class="showmap" ><a href="" id="nav-map" class="isDown">Show map</a></p> 
          <div class="footer-mapToggle" id="mapToggle">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1526.3966169978466!2d-75.213968!3d40.080024000000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6b964c2b6fea7%3A0x58ad1c8ed28854a1!2sPresbyterian+Church+Of+Chestnut+Hill!5e0!3m2!1sid!2sid!4v1417326245721" width="100%" height="450" frameborder="0" style="border:0"></iframe>
          </div>
      </div>
  	</div>
  </footer> <!-- //footer -->

  <script src="assets/js/libs/libs.min.js"></script>
  <script src="assets/js/vendor/vendor.js"></script>
  <script src="assets/js/global.js"></script>
  <script src="//localhost:35729/livereload.js"></script>
</body>
</html>