<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <title></title> 
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Font Icon http://fortawesome.github.io/Font-Awesome/ -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/vendor/bxslider.css">
  <link rel="stylesheet" href="assets/css/vendor/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <!--[if lt IE 8]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
  <![endif]-->
  <script src="assets/js/vendor/modernizr.custom.js"></script>
  <!-- TYPEKIT -->
  <script src="//use.typekit.net/hqb2ysw.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>

<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script> 

  <header id="header">
      <div class="container">
        <div class="row">
          <div id="logo">
              <figure><a href="#"><img src="assets/img/logo@2x.png" width="466" height="78"></a></figure>
          </div> <!-- logo -->

          <div class="header-link">
              <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#"> Support</a></li>
                <li><a href="#"><img src="assets/img/fb@2x.png" width="8" height="15"></a></li>
                <li><a href="#"><img src="assets/img/tw@2x.png" width="17" height="14"></a></li>
              </ul>
          </div><!-- // header-share -->
        </div>
      </div>
  </header> <!-- Header -->

  <div id="navwrap">
      <div class="container">
          <nav id="navigation">
            <ul id="menu">
                <li class="current"><a href="#">Worship </a></li>
                <li><a href="#">Music & Arts </a>
                   <ul>
                        <li><a href="#">child injuries</a></li>
                        <li><a href="gallery_international.html">bike accidents</a>
                            <ul>
                                <li><a href="#">Sub_dropdown_1</a></li>
                                <li><a href="#">Sub_dropdown_2</a></li>
                                <li><a href="#">Sub_dropdown_3</a></li>
                                <li><a href="#">Sub_dropdown_4</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Slips and falls</a></li>
                    </ul>
                </li>
                <li><a href="#">Education</a></li>
                <li><a href="#">Community & Outreach  </a></li>
                <li><a href="#">Center on the Hill </a>
                <li><a href="#">About</a>
                <li><a href="#">Serve & Give</a>
            </ul>  
          </nav> <!-- navigation -->
      </div>
  </div> <!-- //navwrap -->

  